.content-historique {
    position: absolute;
    left: 18%;
    top : 13%;
    width: 400px;
    height: 500px;
    border: 2px solid white;
    border-radius: 10%;
    padding: 10px 10px 15px 30px;
    transition: 1s;
    overflow: auto;
    background: rgba(105, 103, 103, 0.2);
    
}
.content-historique::-webkit-scrollbar {width: 10px;}
.content-historique:hover{
    border: 2px solid #FFD100;
}
.content-historique h1{
    font-family: FreeMono;
    font-size: 35px;
    font-style: italic;
    color: white;
    text-shadow: 1px 1px rgb(97, 96, 94);
}
.content-historique h2{
    font-size: 25px;
    font-family: FreeMono;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px rgb(97, 96, 94);
    margin-top: 20px;
}

.content-historique p{
    font-family: FreeMono;
    font-size: 18px;
    color: white;
    text-shadow: 1.5px 1.5px rgb(97,96,94);
}
