*{
    margin: 0;
    padding: 0;
}
body{    
    background-image: url("media/bgi.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-control{
    width: 80%;
    height: 5%;
    background: rgb(105, 103, 103);
    background: rgba(105, 103, 103, 0.6);
    padding:  20px 0 10px 20%;
    
}
.header-control ul li{
    display: inline;
    list-style-type: none;
    border-radius: 100px;
    
}
.header-control a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 20px 20px;
    margin-top: 20px;
    font-family: FreeMono;
    font-style: italic;
    transition: 1s;
}
.header-control a:hover{
    color: rgb(245, 173, 84);
}

