.text1{
    background: rgb(105, 103, 103);
    background: rgba(105, 103, 103, 0.6);
    color: white;
    text-shadow: 2px 2px rgb(97, 96, 94);
    font-weight: bold;
    border: 3px solid #f1f1f1;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    left: 15%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    width: 20%;
    height: 200px;
}
.text2{
    background: rgb(105, 103, 103);
    background: rgba(105, 103, 103, 0.6);
    color: white;
    text-shadow: 2px 2px rgb(97, 96, 94);
    font-weight: bold;
    border: 3px solid #f1f1f1;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    width: 20%;
    height: 200px;
}
.text3{
background: rgb(105, 103, 103);
background: rgba(105, 103, 103, 0.6);
color: white;
text-shadow: 2px 2px rgb(97, 96, 94);
font-weight: bold;
border: 3px solid #f1f1f1;
border-radius: 50%;
position: absolute;
top: 35%;
left: 48%;
transform: translate(-50%, -50%);
z-index: 2;
width: 80%;
padding: 20px;
text-align: center;
width: 20%;
height: 200px;
}
.text4{
    background: rgb(105, 103, 103);
    background: rgba(105, 103, 103, 0.6);
    color: white;
    text-shadow: 2px 2px rgb(97, 96, 94);
    font-weight: bold;
    border: 3px solid #f1f1f1;
    border-radius: 50%;
    position: absolute;
    top: 70%;
    left: 32%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    width: 20%;
    height: 200px;
}
.text5{
    background: rgb(105, 103, 103);
    background: rgba(105, 103, 103, 0.6);
    color: white;
    text-shadow: 2px 2px rgb(97, 96, 94);
    font-weight: bold;
    border: 3px solid #f1f1f1;
    border-radius: 50%;
    position: absolute;
    top: 70%;
    left: 64%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    width: 20%;
    height: 200px;
}
.text1 h1, .text2 h1, .text3 h1, .text4 h1, .text5 h1{
    font-style: italic;
    margin-top: 20px;
}
.text1:hover, .text2:hover, .text3:hover, .text4:hover, .text5:hover{
    border: 2px solid #FFD100;
}
.text1 p, .text2 p, .text3 p, .text4 p, .text5 p{
    display: inline;
    font-weight: normal;
}
span{
    cursor : pointer;
}
