.content-control-res{
    position: absolute;
    left: 18%;
    top : 13%;
    width: 400px;
    height: 220px;
    border: 2px solid white;
    border-radius: 10%;
    padding: 10px 10px 15px 30px;
    transition: 1s;
    overflow: auto;
    background: rgba(105, 103, 103, 0.2);
}
.content-control-res:hover{
    border: 2px solid #FFD100;
}
.content-control-res h1 {
    color: white;
    font-family: FreeMono;
    font-size: 30px;
    font-style: italic;
    text-shadow: 2px 2px rgb(97, 96, 94);
}
.res-tocheck{
    position: absolute;
    left: 18%;
    top : 55%;
    width: 400px;
    height: 220px;
    border: 2px solid white;
    border-radius: 10%;
    padding: 10px 10px 15px 30px;
    transition: 1s;
    overflow: auto;
    background: rgba(105, 103, 103, 0.2);
}
.res-tocheck:hover{
    border: 2px solid #FFD100;
}
#detail-res{
    display: none;
    position: absolute;
    left: 60%;
    top : 13%;
    width: 400px;
    height: 475px;
    border: 2px solid white;
    border-radius: 10%;
    padding: 10px 10px 15px 30px;
    transition: 1s;
    overflow: auto;
    background: rgba(105, 103, 103, 0.2);
}
.res-tocheck::-webkit-scrollbar {width: 10px;}
.content-control-res::-webkit-scrollbar {width: 10px;}
.res-tocheck::-webkit-scrollbar {width: 10px;}
#detail-res:hover{
    border : 2px solid #FFD100;
}
#detail-res h1{
    color: white;
    font-family: FreeMono;
    font-size: 30px;
    font-style: italic;
    text-shadow: 2px 2px rgb(97, 96, 94); 
}
#detail-res h2{
    color: white;
    font-family: FreeMono;
    text-shadow: 2px 2px rgb(97, 96, 94); 
}
.detail-reservation{
    position: absolute;
    left: 60%;
    top : 13%;
    width: 400px;
    height: 500px;
    border: 2px solid white;
    border-radius: 10%;
    padding: 10px 10px 15px 30px;
    transition: 1s;
    overflow: auto;
    background: rgba(105, 103, 103, 0.2);
}
.detail-reservation:hover{
    border : 2px solid #FFD100;
}
.detail-reservation h1{
    color: white;
    font-family: FreeMono;
    font-size: 30px;
    font-style: italic;
    text-shadow: 2px 2px rgb(97, 96, 94); 
}

.res-tocheck h1 {
    color: white;
    font-family: FreeMono;
    font-size: 30px;
    font-style: italic;
    text-shadow: 2px 2px rgb(97, 96, 94);
}
.content-control-res h2, p, .res-tocheck h2, p{
    color: white;
    font-family: FreeMono;
    text-shadow: 2px 2px rgb(97, 96, 94);
}
.content-control-res span{
    color: white;
    font-family: FreeMono;
    text-shadow: 2px 2px rgb(97, 96, 94);
    cursor: pointer;
    text-decoration: underline;
}
.content-control-res span:hover{
    color: #FFD100;
}
.select-control{
    width: 20px;
    height: 20px;
}
.res-tocheck span{
    color: white;
    font-family: FreeMono;
    text-shadow: 2px 2px rgb(97, 96, 94);
    cursor: pointer;
    text-decoration: underline;
}
.res-tocheck span:hover{
    color: #FFD100;
}
.btn2{
    font-family: FreeMono;
    border : 1px solid white;
    background: rgba(105, 103, 103, 0.6);
    color: white;
    font-size : 20px;
    text-align: center;
    cursor : pointer;
    width: 100px;
    height: 40px;
    transition: 1s;
}
.btn2:hover{
    border:  1px solid #FFD100;
    color: #FFD100;
}