.content-control-res{
    position: absolute;
    left: 18%;
    top : 13%;
    width: 400px;
    height: 220px;
    border: 2px solid white;
    border-radius: 10%;
    padding: 10px 10px 15px 30px;
    transition: 1s;
    overflow: auto;
    background: rgba(105, 103, 103, 0.2);
}
.content-control-res:hover{
    border: 2px solid #FFD100;
}
.content-control-res h1 {
    color: white;
    font-family: FreeMono;
    font-size: 30px;
    font-style: italic;
    text-shadow: 2px 2px rgb(97, 96, 94);
}
.res-tocheck{
    position: absolute;
    left: 18%;
    top : 55%;
    width: 400px;
    height: 220px;
    border: 2px solid white;
    border-radius: 10%;
    padding: 10px 10px 15px 30px;
    transition: 1s;
    overflow: auto;
    background: rgba(105, 103, 103, 0.2);
}
.res-tocheck:hover{
    border: 2px solid #FFD100;
}
.detail-res{
    display: none;
    position: absolute;
    left: 60%;
    top : 13%;
    width: 400px;
    height: 475px;
    border: 2px solid white;
    border-radius: 10%;
    padding: 10px 10px 15px 30px;
    transition: 1s;
    overflow: auto;
    background: rgba(105, 103, 103, 0.2);
}
.detail-res:hover{
    border : 2px solid #FFD100;
}
.detail-res h1{
    color: white;
    font-family: FreeMono;
    font-size: 30px;
    font-style: italic;
    text-shadow: 2px 2px rgb(97, 96, 94); 
}
.detail-reservation{
    position: absolute;
    left: 60%;
    top : 13%;
    width: 400px;
    height: 500px;
    border: 2px solid white;
    border-radius: 10%;
    padding: 10px 10px 15px 30px;
    transition: 1s;
    overflow: auto;
    background: rgba(105, 103, 103, 0.2);
}
.detail-reservation:hover{
    border : 2px solid #FFD100;
}
.detail-reservation h1{
    color: white;
    font-family: FreeMono;
    font-size: 30px;
    font-style: italic;
    text-shadow: 2px 2px rgb(97, 96, 94); 
}
.res-tocheck h1 {
    color: white;
    font-family: FreeMono;
    font-size: 30px;
    font-style: italic;
    text-shadow: 2px 2px rgb(97, 96, 94);
}